<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881019176288-h0l8i1tfqj4928b8pcb7uplou2oce3h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881019176288-h0l8i1tfqj4928b8pcb7uplou2oce3h0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbWE_OIAw-2nMSuAZLifhbigz7G9MJBRo</string>
	<key>GCM_SENDER_ID</key>
	<string>881019176288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-bmpineda</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-bmpineda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881019176288:ios:82f58c5f5daa69e3f0ca05</string>
</dict>
</plist>